# Set as project root.
root = true

# Default rules.
[*]
charset                  = UTF-8
end_of_line              = LF
indent_size              = 4
indent_style             = tab
insert_final_newline     = true
trim_trailing_whitespace = true

# Custom rules.
[*.{json,yml}]
indent_size              = 2
indent_style             = space
