# ============================================================
# Ignore OS files.
# OS files and folders that Git should ignore.
# ============================================================

# Windows Junk
$RECYCLE.BIN
Desktop.ini
Thumbs.db

# macOS Junk
.DS_Store
.Trashes

# Others
*.env
*.tmp
*.bak
*.log
*~





# ============================================================
# Ignore build assets.
# Development files and folders that Git should ignore.
# ============================================================

# Code Editors
.idea
.vscode
.project
.settings

# Package Managers
node_modules
bower_components

# Development Folders
**/vendor/*
!**/vendor/composer
!**/vendor/autoload.php

# Github Specific Files
!.gitkeep
